body {
    background-color: black;
    color: white;
}

nav {
    text-align: center;
    font-size: 2em;
}

h1 {
    text-align: center;
    font-family: 'Bitcount Single', monospace;
}

#img-container {
    display:flex; 
    justify-content:center
}

figure {
    text-align: center; 
    width:40%
}

figcaption {
    font-size:max(2vw, 4vw)
}

img {
    border:5px solid black;
    width:100%;
    height:300px;
}

#footer-img {
    border: none;
    height: 200px;
    width: 200px;
}